<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite">
	<listeners>
		<listener
			class-name="restassured.automation.listeners.TestListeners" />
	</listeners>
	<test name="Test">

		<groups>
			<run>

				<include name="IntegrationTests" />
				<include name="EndToEnd" />
			</run>
		</groups>
		<classes>
		
           <class
                name="restassured.automation.testcases.Restassured_Automation_EngagementTeamRoles" />
		
    		<class
                name="restassured.automation.testcases.Restassured_Automation_Rules" />
            <class
                name="restassured.automation.testcases.Restassured_Automation_Organizations" />
            <class
                name="restassured.automation.testcases.Restassured_Automation_OrgRoles" />
                    

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
